<html><head>
  <title>Initial</title>
  <link href="/assets/application.css" media="screen" rel="stylesheet" type="text/css">
  <script src="/assets/application.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=La+Belle+Aurore">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Limelight">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wallpoet">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monofett">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Six+Caps">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Redressed">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nunito">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Jura">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Permanent+Marker">

  <meta content="authenticity_token" name="csrf-param">
<meta content="FaUlThbx5cwkIT1JxR+WY1wstOgUXv3B0nZ0Rra68Fk=" name="csrf-token">
</head>
<body>

<div id="wrapper">

  <div id="menu">

    <ul>

      <li class="current_page_item"><a href="home">Home</a></li>

      <li class="menu_item"><a href="about">About</a></li>

      <li class="menu_item"><a href="activities">Activities</a></li>

      <li class="menu_item"><a href="support">Support</a></li>

      <li class="menu_item"><a href="contact">Contact</a></li>



      <div id="search">



      <form method="get" action="#">

        <div>



          <input type="text" name="s" id="search-text" value="" placeholder="jpt">

          <input type="submit" id="search-submit" value="GO">

        </div>

      </form>

      </div>

    </ul>

    <div id="listing">

        <a href="#">Support Us</a>

        </div>

  </div>

  <!-- end #menu -->



  <div id="head">



<!--  <div id="sidebar_top">

      <a href="#">asda</a>



  </div>-->







  </div>

  <!-- end #header -->

  <div id="page">

  <div id="page-bgtop">

  <div id="page-bgbtm">

    <div id="content">

<div id="submenu-boxes">

  <div id="about-us-about" class="submenu" style="background-color: rgb(255, 255, 255); ">

    <h2 style="color: black; ">About Us</h2>

    <div class="info-shining-text" id="event" style="color: black; ">Nepal Hemophilia Society</div></div>

  <div id="about-hemo" class="submenu" style="background-color: rgb(255, 255, 255); ">

    <h2 style="color: rgb(206, 88, 72); ">Disease</h2>

    <div class="info-shining-text" id="activity" style="color: black; ">Know about the disease</div></div>

  <div id="about-goals" class="submenu" style="background-color: rgb(255, 255, 255); ">

    <h2 style="color: rgb(206, 88, 72); ">Our Goals</h2>

    <div class="info-shining-text" id="event" style="color: black; ">Lorem Insum Gypsum Nepal</div></div>

</div>
<div id = "content-box">
  We are working here for years.
</div>
    </div>

    <!-- end #content -->



    </div>

    <!-- end #sidebar -->

    <div style="clear: both;">&nbsp;</div>


  </div>

  </div>

  </div>

  <!-- end #page -->








</body></html>