<div id ="wrapper">

	<div id = "about-boxes">
		<div id = "about-us" class = "shining">
			<h2><a href="javascript:void(0);">About Us</a></h2>
			<div class = "shining-text">Brew some coffee and drink it before you leave</div>
		</div>
		<div id = "our-goals" class = "shining">
			<h2><a href="javascript:void(0);">Our Goals</a></h2>
			<div class = "shining-text">Brew some coffee and drink it before you leave</div>
		</div>
	</div>
	
	<div style="clear: both;">&nbsp;</div>
	
	<div class = "about-sub">
		<div id = "about-us-sub" style="display: none">
			<div class= "tabs">
				<span class = "tab1">
					<a href="javascript:void(0);">Tab1</a>
				</span>
				<span class = "tab2">
					<a href="javascript:void(0);">Tab2</a>
				</span>
				<span class = "tab3">
					<a href="javascript:void(0);">Tab3</a>
				</span>
			</div>
			<div class = "tab-content style="display: none">
				<div class = "tab1">
					Surgery in haemophilia requires through preparation and should only be carried out in hospitals.
				</div>
				<div class = "tab2">
					through preparation and should.
				</div>
				<div class = "tab3">
					only be carried out in hospitals.
				</div>
			</div>
		</div>
		<div id = "our-goals-sub" style="display: none" >
			<div class= "tabs">
				<span class = "tab1">
					<a href="javascript:void(0);">Tab1</a>
				</span>
				<span class = "tab2">
					<a href="javascript:void(0);">Tab2</a>
				</span>
				<span class = "tab3">
					<a href="javascript:void(0);">Tab3</a>
				</span>
			</div>
			<div class = "tab-content style="display: none">
				<div class = "tab1">
					Unfortunately here in Nepal the patients are mostly dependent on blood products.
				</div>
				<div class = "tab2">
					the patients are mostly dependent
				</div>
				<div class = "tab3">
					on blood products.
				</div>
			</div>
		</div>
	</div>
	
</div>
  
