<div id="wrapper">

  <div id="menu">

    <ul>

      <li class="current_page_item"><a href="home">Home</a></li>

      <li class="menu_item"><a href="about">About</a></li>

      <li class="menu_item"><a href="activities">Activities</a></li>

      <li class="menu_item"><a href="support">Support</a></li>

      <li class="menu_item"><a href="contact">Contact</a></li>



      <div id="search">



      <form method="get" action="#">

        <div>



          <input type="text" name="s" id="search-text" value="" placeholder="jpt">

          <input type="submit" id="search-submit" value="GO">

        </div>

      </form>

      </div>

    </ul>

    <div id="listing">

        <a href="#">Support Us</a>

        </div>

  </div>

  <!-- end #menu -->



  <div id="head">



<!--  <div id="sidebar_top">

      <a href="#">asda</a>



  </div>-->







  </div>

  <!-- end #header -->

  <div id="page">

  <div id="page-bgtop">

  <div id="page-bgbtm">

    <div id="content">

<div id="submenu-boxes">

  <div id="about-us-about" class="submenu" style="background-color: rgb(255, 255, 255); ">

    <h2 style="color: black; ">Our Work</h2>

    <div class="info-shining-text" id="event" style="color: black; ">What we are doing for hemophiliacs</div></div>

  <div id="about-hemo" class="submenu" style="background-color: rgb(255, 255, 255); ">

    <h2 style="color: rgb(206, 88, 72); ">Events</h2>

    <div class="info-shining-text" id="activity" style="color: black; ">Get informed about our upcoming events</div></div>

  <div id="about-goals" class="submenu" style="background-color: rgb(255, 255, 255); ">

    <h2 style="color: rgb(206, 88, 72); ">Paticipate</h2>

    <div class="info-shining-text" id="event" style="color: black; ">Be a part of our family</div></div>

</div>
<div id = "content-box">
  We are working here for years.
</div>
    </div>

    <!-- end #content -->



    </div>

    <!-- end #sidebar -->

    <div style="clear: both;">&nbsp;</div>


  </div>

  </div>

  </div>
