<div id="wrapper">

	<div id="menu">

		<ul>

			<li class="current_page_item"><a href="home">Home</a></li>

			<li class="menu_item"><a href="about">About</a></li>

			<li class="menu_item"><a href="activities">Activities</a></li>

			<li class="menu_item"><a href="support">Support</a></li>

			<li class="menu_item"><a href="contact">Contact</a></li>



			<div id="search" >

							

			<form method="get" action="#">

				<div>



				  <input type="text" name="s" id="search-text" value="" placeholder="jpt" />

				  <input type="submit" id="search-submit" value="GO" />

			  </div>

			</form>

			</div>

		</ul>

		<div id = "listing">

				<%= link_to 'Support Us', "#" %>

        </div>

	</div>

	<!-- end #menu -->

	

	<div id="head">



<!-- 	<div id="sidebar_top">

	    <a href="#">asda</a>



	</div>-->

		 <div id="nav">

			<div id= "e">

				<div id= "f">

				</div>

				<div id = "caption"></div>


				<div id = "raption">A shot of the NHS building in Kathmandu</div>

			</div>

		</div>

			

		<div id="logo">

<div id = "supporter">

  <div id = "can-you">You can</div>

  <div id = "help">HELP</div>
  <div id = "feedback"></div>

</div>			

			<h1><a href="#" class="nepal">Nepal<br />

				<span>Hemophilia Society</span></a></h1>

			<p>&nbsp;</p>

		</div>

	</div>

	<!-- end #header -->

	<div id="page">

	<div id="page-bgtop">

	<div id="page-bgbtm">

		<div id="content">

<div id = "info-boxes">

  <div id = "about-us-home" class = "info-shining">

    <h2>About Us</h2>

    <div class = "info-shining-text" id = "event">Nepal Hemophilia Society has been solely working since 1992 to help hemophiliacs all over Nepal.</div></div>

  <div id = "events-home" class = "info-shining">

    <h2>What we do?</h2>

    <div class = "info-shining-text" id = "activity">We organize blood donation, parent's camp, children's camps. We hold interactions and discussions every year.</div></div>

  <div id = "support-home" class = "info-shining">

    <h2>Support Us</h2>

    <div class = "info-shining-text" id = "event">There is not much support from the government for hemophiliacs in Nepal. The daily medicine of a hemophiliac costs 300$</div></div>

</div>	

		</div>

		<!-- end #content -->



		</div>

		<!-- end #sidebar -->

		<div style="clear: both;">&nbsp;</div>







	</div>

	</div>

	</div>

	<!-- end #page -->

</div>
	<div id="footer">

		<p>HOME | About | Activities | Support | Contact </p>

	</div>

