// Place all the styles related to the societies controller here.

// They will automatically be included in application.css.

// You can use Sass (SCSS) here: http://sass-lang.com/#B2ACA6#49A7F3#ED6555#E692A1



body.societies {

    // Place scoped styles here

}

// Gallery
#gallery{
    width:1000px;
    height:600px;
    text-align:center;
    margin-left:80px;
    border-top: 2px outset black;
        border-bottom: 2px outset black;
    padding:20px;
    border-radius:10px;
    background-color:#000000;
}
.image-holder{
    width:390px;
    height:200px;
    border-bottom:10px solid grey;
    float:left;
    margin-right:20px;
    margin-bottom:40px;
    border-radius-bottom:20px;


}
.thumb{
    width:430px;
    height:200px;
    cursor:pointer;
    opacity:1.0;
        border-radius:10px;
}
.large{
    width:660px;
    height:500px;
    position:absolute;
    left:410px;
    top:450px;
    z-index:1000;
    -moz-box-shadow: 5px 5px 5px yellowgreen;
    -webkit-box-shadow: 5px 5px 5px yellowgreen;
    box-shadow: 5px 5px 5px yellowgreen;
    opacity:1.0;
    border-bottom:100px solid black;
    border-radius-top:20px;

}

#holder .slides{
display:none;
width:335px;
padding:8px;
height:210px;
}
#holder #first{
display:show;
}
#nhs-logo{
    background-image:url('../assets/logo-nhs.jpg');
        background-repeat:repeat;
    height:130px;
    width:160px;
    margin-bottom: -76px;
margin-left: 191px;
}

.submenu{
    width:200px;
    height:80px;
    display:inline;
    float:left;
    margin-right:20px;
    padding:10px;
    margin-top:-30px;

}
#submenu-boxes{
    height:200px;
    width:900px;
}
#content-box{
    width:900px;
    height:700px;
    border: 2px solid;
    margin-top:70px;
    border-radius:10px;
}
#submenu-boxes h2{
font-family: "Lobster";
font-size:40px;
}

#submenu-boxes .info-shining-text{

    color:#0C0D0C;
    opacity:0.8;
    font-family:'Lobster';

    font-size:15px;
    text-align:left;

}


#feedback{
    background-image:url('../assets/feedback.jpg');
}

#info-boxes{
    display:block;
    padding:7px;
}

#info-boxes h2{
    font-family:'Limelight';
    padding-top:10px;
    color:#CE5848;
    font-size:30px;
    text-align:center;
    border-bottom:1px dotted;
}

.info-shining-text{

    color:#0C0D0C;
    font-family:'Lobster';
    font-size:25px;
    text-align:center;

}

.info-shining{

    margin:10px;

    width:270px;

    height:300px;

    padding:5px 5px 5px 5px;
    margin-top:30px;

    //background-color:#C1CB47;

    -moz-border-radius:80px;

    border-radius:80px;

}

#about-us-home{

    background-image:url('../assets/acts.png');

    background-repeat:no-repeat;

    background-position:290px -10px;

    float:left;

}

#events-home{

    background-image:url('../assets/events.png');

    background-repeat:no-repeat;

    background-position:290px -10px;

    float:left;

}

#support-home{

    background-image:url('../assets/events.png');

    background-repeat:no-repeat;

    background-position:290px -10px;

    float:left;

}







.hello{

    color: red

}
#raption{
    text-align:center;
}

#raption a{

    color:white;

    font-size:25px;
    font-family:'Permanent Marker';
    padding-bottom:5px;
    link-style:none;


    text-align:center;

}

.did_you{

    width:335px;

    height:215px;

}

.event-wrap{

    background-color:#666;

    width:400px;

}

#eventinfo{

    float:left;

    background-color:#666;

    font-size:25px;

}

.date{

    width: 98px;

    height: 98px;

    background: transparent url(/assets/bg-date-dark.gif) top left no-repeat;

    float: left;

    clear: both;

    margin: 0;

    padding: 0;

    color: #4ACFD8;

    text-align: center;

    padding-top: 10px;

    line-height: 1em;

}

#date-number{

    color: #333;

    font-size: 500%;

    line-height: 1em;

    display: block;

    margin-top: -8px;

}

#e{

    border: 1px solid #65B23E;

    box-shadow: 1px 7px 4px 0px green;

    -moz-border-radius: 15px;

    width:350px;

    height:250px;
    padding: 10px 0 0 15px;
    background:#65B23E;

    //#DE6747

}
#raption{
	text-align: center;
}
#f{

    border: 1px solid #65B23E;

    padding:0px;

    margin:15px;

    border-radius: 5px;

    background:white;

    align:center;

    height:180px;

    text-color:white

}



body {

    margin: 0;

    padding: 0;
    background-color:#FFF;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;

    color: #3B3B3B;

}

#head{
    background-color: bisque;

    border-radius: 20px;
}

h1, h2, h3 {

    margin: 0;

    padding: 0;

    font-family: Georgia, "Times New Roman", Times, serif;

    font-weight: normal;

    color: #000000;

}



h1 {

    font-size: 2em;

}



h2 {

    font-size: 2.4em;

}



h3 {

    font-size: 1.6em;

}



p, ul, ol {

    margin-top: 0;

    line-height: 180%;

}



ul, ol {

}



a {

    text-decoration: none;

    color: #359F00;

}



a:hover {

}



#wrapper {

    width: 980px;

    margin: 0 auto;

    padding: 0;

}


/* Logo */
#logo {
    float:left;
    display:inline;
    margin: 10px 10px;
    padding: 5px 40px 0px 0px;
    color: #000000;
}



#logo h1, #logo p {
    text-align: right;
    font-family: Georgia, "Times New Roman", Times, serif;
}

#logo h1 {
   font-size: 52px;
}

#logo span {
    color: #FF3801;
}

#logo p {
    margin: -25px 0px 0px 0px;
    padding: 0px;
    letter-spacing: -1px;
    font-style: italic;
    font-size: 32px;
}



#logo a {

    border: none;

    background: none;

    text-decoration: none;

    color: #359F00;

}



/* Search */



#search {

    float: right;

    width: 280px;

    height: 50px;

    padding: 10px 0px 0px 0px;

    background: #65B23E;

    border-bottom: 4px solid #FFFFFF;

    margin-left: 110px;

}



#search form {

    height: 41px;

    margin: 0;

    padding: 10px 0 0 20px;

}



#search fieldset {

    margin: 0;

    padding: 0;

    border: none;

}



#search-text {

    width: 170px;

    padding: 2px 5px 2px 5px;

    border: none;

    background: #FFFFFF;

    text-transform: lowercase;

    font: normal 11px Arial, Helvetica, sans-serif;

    color: #5D781D;

}



#search-submit {

    width: 50px;

    height: 22px;

    border: none;

    background: #FF6F26;

    font-weight: bold;

    color: #FFFFFF;

}



/* Menu */



#menu {

    width: 980px;

    height: 80px;

    /*margin: 0 auto;*/

    padding: 5px 0px 10px 0px;

    float: left;

    margin-bottom: 65px;
}



#menu ul {

    float: left;

    margin: 0;

    padding: 30px 0px 0px 0px;

    list-style: none;

    line-height: normal;

}



#menu li {

    float: left;

}



#menu a {

    display: block;

    width: 98px;

    height: 37px;

    margin-right: 5px;

    padding: 12px 0px 0px 0px;

    background: url(/assets/img02.jpg) no-repeat left top;

    text-decoration: none;

    text-align: center;

    text-transform: uppercase;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 11px;

    font-weight: bold;

    color: #FFFFFF;

    border: none;

}



#menu a:hover, #menu .current_page_item a {

    background: url(/assets/img03.jpg) no-repeat left top;

}



#menu .current_page_item a {

}



/* Page */



#page {

    width: 940px;

    margin: 0 auto;

    padding: 0px 0px 0px 0px;

}



#page-bgtop {

    padding: 20px 0px;

}



#page-bgbtm {

}



/* Content */



#content {

    margin-top: 0px;

    padding: 0px 0px 20px 10px;

}



.post {

    margin-bottom: 15px;

}



.post-bgtop {

}



.post-bgbtm {

}



.post .title {

    height: 38px;

    margin-bottom: 10px;

    padding: 12px 0 10px 60px;

    background: url(/assets/img06.jpg) no-repeat left 5px;

    letter-spacing: -2px;

    text-transform: lowercase;

    font-size: 46px;

    color: #359F00;

}



.post .title a {

    color: #359F00;

    border: none;

}



.post .meta {

    margin-bottom: 30px;

    padding: 5px 0px 15px 0px;

    text-align: left;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 13px;

    font-weight: bold;

}



.post .meta .date {

    float: left;

}



.post .meta .posted {

    float: right;

}



.post .meta a {

}



.post .entry {

    padding: 0px 0px 20px 0px;

    padding-bottom: 20px;

    text-align: justify;

}



.links {

    padding-top: 20px;

    font-size: 12px;

    font-weight: bold;

}



/* Sidebar */



#sidebar {

    float: left;

    width: 280px;

    margin: 0px;

    padding: 30px 0px 0px 0px;

}



#sidebar ul {

    margin: 0;

    padding: 0;

    list-style: none;

}



#sidebar li {

    margin: 0;

    padding: 0;

}



#sidebar li ul {

    margin: 0px 0px;

    padding-bottom: 30px;

}



#sidebar li li {

    line-height: 35px;

    margin: 0px 30px;

    border-left: none;

}



#sidebar li li a {

    padding-left: 10px;

    background: url(/assets/img03.gif) no-repeat left 5px;

    color: #464646;

}



#sidebar li li span {

    display: block;

    margin-top: -20px;

    padding: 0;

    font-size: 11px;

    font-style: italic;

}



#sidebar h2 {

    height: 38px;

    padding-left: 30px;

    text-transform: lowercase;

    font-family: Arial, Helvetica, sans-serif;

    font-size: 2em;

    color: #359F00;

}



#sidebar p {

    margin: 0 0px;

    padding: 0px 30px 20px 30px;

    text-align: justify;

}



#sidebar a {

    border: none;

}



#sidebar a:hover {

    text-decoration: underline;

    color: #8A8A8A;

}



/* Calendar */



#calendar {

}



#calendar_wrap {

    padding: 20px;

}



#calendar table {

    width: 100%;

}



#calendar tbody td {

    text-align: center;

}



#calendar #next {

    text-align: right;

}



/* Footer */



#footer {

    height: 50px;
    width:500px;

    margin-left:390px;

    font-family: Arial, Helvetica, sans-serif;

}



#footer p {
    -moz-border-radius: 330px 230px 0px 0px;

    border-radius: 330px 230px 0px 0px;
    background-color:peachPuff;

    margin: 0;

    padding-top: 17px;

    line-height: normal;

    font-size: 45px;
    font-style:bold;
    font-family:'Six Caps';

    text-transform: uppercase;

    text-align: center;

    color: #A0A0A0;

}



#footer a {

    color: #8A8A8A;

}

#sidebar_top{

    background: url(/assets/img02.jpg) no-repeat left 5px;

    padding-top:50px;

    width: 98px;

    height: 57px;

    display:block;

    -webkit-transform: rotate(270deg);

    -moz-transform: rotate(270deg);

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

#sidebar_top a{





}

#nav{

    float:left;

    padding: 30px 0 -5px 10px;
    margin-top:-40px;


    letter-spacing: 0px;



    font-size: 16px;

    color: #359F00;

}



#nav .left{

    display:block;

    float:left;

}



#nav .right{

    display:block;

    float:right;

}



#listing{

    display:none;

    font-family:'Cabin Sketch';

    font-size:30px;

    float:right;

    border-radius:10px;

    -moz-border-radius:10px;

    padding:17px;

    background-color:#F5EA83;

}

#listing a{

    color:#5C627D;

}





//css for activities page



.activities-sub-content{

    border: 1px solid #65B23E;

    border-radius: 8px;

    -moz-border-radius: 15px;

    width:780px;

    height:300px;

    padding: 15px;

    margin: 0px 15px 15px 30px;

}

.slideshow-images{

    border: 1px solid #000000;

    -moz-border-radius: 12px;

    width:345px;

    height:225px;

    background:#000000;

    padding: 8px 0px 0px 8px;

}



//css for gallery

.image-holder{

    width:200px;

    height:200px;

    border-bottom:10px solid black;

}



.thumb{

    width:200px;

    height:200px;

    cursor:pointer;

    opacity:1.0;

}



.large{

    width:600px;

    height:600px;

    position:absolute;

    left:200px;

    top:100px;

    z-index:1000px;

    -moz-box-shadow: 5px 5px 5px #ccc;

    -webkit-box-shadow: 5px 5px 5px #ccc;

    box-shadow: 5px 5px 5px #ccc;

    opacity:1.0;

    border-bottom:80px solid black;

}



//css for testimonial and you can help



#testimony{

    width: 376px;

    height: 206px;

    padding: 80px 0px 80px 0px;

    background: url('../assets/back_yellow.png') repeat;

    -moz-border-radius: 30px 230px 230px 230px;

    border-radius: 30px 230px 230px 230px;

    text-align: center;

}



#supporter{

    width: 156px;

    height: 136px;

    margin-left:40px;

    padding: 10px 0px 10px 0px;

    background: url('../assets/back_yellow.png') repeat;

    -moz-border-radius: 130px 130px 130px 130px;

    border-radius: 130px 130px 130px 130px;

    text-align: center;

    -moz-box-shadow: 5px 5px 5px #ccc;

    -webkit-box-shadow: 5px 5px 5px #ccc;

    box-shadow: 5px 5px 5px #ccc;



}



#can-you{

    font-family:'Tangerine';

    font-size:40px;

    word-spacing:3px;

}



#help{

    font-family:'Monofett';

    font-size:60px;



}



#us{



    font-family:'Six Caps';

    font-size:30px;

    letter-spacing:1px;

}



#testimonial{

    background-image:url('../assets/double-quotes.png');

    background-repeat:no-repeat;

    background-position:30px 0px;

    height:30px;

}



blockquote {

/*  font-family:'Goudy Bookletter 1911';

*/font-size:30px;

font-family:'Tangerine';

line-height:30px;

padding-top: 18px;

padding-bottom: 18px;

padding-right: 10px;

background-image: url(../assets/openquote4.gif);

background-position: 10px;

background-repeat: no-repeat;

height:80px;

border-bottom:3px solid white;

}

#author{

    font-style:italic;

    font-size:20px;

    padding-right:20px;

}



//css for about page
#about-boxes{
    padding:20px;
}
#about-boxes h2{
    font-family:'Limelight';
    color:#FFFFFF;
    font-size:24px;
    border-bottom:1px dotted;
}
#about-boxes h2 a{
    color:#EEEEEE;
}
.shining-text{
    color:#000000;
    font-family:'Cabin Sketch';
    font-size:20px;
    padding-right:60px;
}
.shining{
    margin:10px;
    width:280px;
    height:90px;
    padding:5px;
    background-color:#49A7F3;
    -moz-border-radius:30px 10px 30px 10px;
    border-radius:10px;
}
#about-us{
    background-image:url('../assets/acts.png');
    background-repeat:no-repeat;
    background-position:290px -10px;
    float:left;
}
#our-goals{
    background-image:url('../assets/events.png');
    background-repeat:no-repeat;
    background-position:290px -10px;
    float:left;
}
.about-sub{
    padding: 10px;
}
.tabs{
    padding: 8px;
}
.tabs a{
    font-size:16px;
    border: 1px solid green;
    -moz-border-radius: 10px 10px 10px 10px;
    padding: 7px 15px 7px 15px;
    background-color :#65B23E;
    color: #FFFFFF;
}
.tab-content{
    font-size:15px;
    padding: 10px;
    border: 1px solid green;
    -moz-border-radius: 15px 15px 15px 15px;
}

//css for feedback,fancybox
#fancybox_link{
	float:right;
}
#fancybox_div{
	background: #E0E5F5;
	border: 1px solid #E0E5F5;
	-moz-border-radius: 5px 18px 18px 5px;
	padding:5px;
}
#fancybox_div .field{
  padding: 5px;
}


