<!DOCTYPE html>
<html>
<head>
  <title>Initial</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=La+Belle+Aurore">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Limelight">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wallpoet">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Monofett">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Six+Caps">

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Redressed">
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nunito">
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Jura">
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster">
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Permanent+Marker">
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
